# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Upload Python Package

on:
  release:
    types: [published]

permissions:
  contents: read
  pull-requests: write
  id-token: write

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build
    - name: Build package
      run: python -m build
    #- name: Publish package
    #  uses: pypa/gh-action-pypi-publish@master
    #  with:
    #    attestations: true
    #  env:
    #    # Remove the explicit password input to enable Trusted Publishing
    #    PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
    - name: Publish package
      uses: pypa/gh-action-pypi-publish@3317ede93a4981d0fc490510c6fcf8bf0e92ed05
      with:
        attestations: true
      env:
        PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}      
    #    user: __token__
    #    password: ${{ secrets.PYPI_API_TOKEN }}
